@media only screen and (max-width: 1600px) {
  .page-intro{
    &.small{
      max-width: 30%;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .main-grid .item-wrapper{
    width: 32.1%;
  }
  .square{
    h2{
      font-size: 2.8vw;
    }
    p{
      font-size: 1.6vw;
    }
  }
}

@media only screen and (max-width: 900px) {
  .mobile-only{
    display: block;
  }
  .main-grid .item-wrapper{
    width: 48.8%;
  }
  .square{
    h2{
      font-size: 4.8vw;
    }
    p{
      font-size: 2.4vw;
    }
  }
  .page.shop-page{
    display: flex;
    flex-direction: column-reverse;
    .content{
      display: none;
    }
    .shop-info-text{
      img{
        display: block;
        margin-bottom: 14px;
      }
    }
    .left-info{
      position: relative;
      width: 100%;
      transform: scale(1);
      height: fit-content;
      .square-12{
        position: relative;
        height: fit-content;
        width: 100%;
        max-width: 100%;
        aspect-ratio: initial;
      }
    }
  }
  .page-intro{
    &.small{
      max-width: 100%;
      padding-right: 0;
    }
  }
  footer{
    .footer-content{
      flex-direction: column;
      div{
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .main-grid .item-wrapper{
    width: 100%;
  }
  .square{
    h2{
      font-size: 34px;
    }
    p{
      font-size: 17px;
    }
  }
  .nav{
    left: -60vw;
    width: 60vw;
  }
  .main-grid.upcoming-grid .item-wrapper, .main-grid.shop-grid .item-wrapper,  .main-grid.archief-grid .item-wrapper{
    width: 100%;
  }
  .main-grid.shop-grid .square h2, .main-grid.archief-grid .square h2,  .related .related-items .square h2{
    font-size: 34px;
  }
  .main-grid.shop-grid .square p, .main-grid.archief-grid .square p, .related .related-items .square p{
    font-size: 18px;
  }
  .related {
    margin-top: 64px;
    &:before{
      top: 0;
      display: none;
    }
    .item-wrapper{
      width: 100%;
    }
    .related-items{
      flex-direction: column;
    }
  }
}