@font-face {
  font-family: "gothic";
  src:
    url("ITCAvantGardeStd BkCn.otf") format("opentype");
}

*{
  box-sizing: border-box;
  word-wrap: break-word;
}

body{
  font-family: "gothic";
  padding: 0 10px;
  padding-top: 14px;
  margin: 0;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 300;
}

video#logo{
  width: 103%;
  object-fit: cover;
  margin-top: -5%;
  margin-left: -1%;
  padding: 5%;
}

.search-icon{
  position: fixed;
  z-index: 9;
  right: 1vw;
  h2{
    margin: 0;
  }
  a{
    color: black;
    text-decoration: none;
  }
}

.search-bar{
  width: 98%;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
  margin: auto;
  display: block;
  margin-top: 14px;
  font-size: 24px;
  font-family: "gothic";
  font-weight: 300;
  max-width: 900px;
  margin-bottom: 24px;
}

*{
  outline: none
}

.home-title{
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.menu-button{
  background-color: white;
  position: fixed;
  width: 45px;
  height: 45px;
  z-index: 999;
  padding: 5px;
  cursor: pointer;
  top: 0;
  left: 0.7vw;
  .menu-icon{
    &:before{
      content: "";
      position: absolute;
      width: 80%;
      height: 80%;
      z-index: 999;
      background-image: url(./SVG/menu.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      display: block;
    }
    &:after{
      content: "";
      position: absolute;
      width: 80%;
      height: 80%;
      z-index: 999;
      background-image: url(./SVG/close.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      display: none;
    }
    &.active{
      &:before{
        display: none;
      }
      &:after{
        display: block;
      }
    }
  }
}

.nav{
  background-color: white;
  position: fixed;
  z-index: 888;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 70px 20px 10px 14px;
  left: -30vw;
  width: 180px;
  // min-width: 30vw;
  top: 0;
  &.active{
    animation: slide 0.5s forwards;
    .effect{
      mask-image: url(./gradient.png);
      background-size: 100%;
      mask-repeat: repeat-y;
      mask-position: right;
      background-color: white;
      width: 200px;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 160px;
    }
  }
  a{
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: all 0.4s ease;
    font-size: 20px;
    &:hover{
      font-weight: bold;
    }
  }
}

@keyframes slide {
  100% { left: 0; }
}

@keyframes slideBack {
  100% { left: -30vw; }
}

.page-title{
  text-align: center;
  margin-top: 0;
}


.main-grid{
  display: flex;
  flex-wrap: wrap;
  .row{
    width: 23.8%;
    margin: 0 0.6%;
  }
  .item{
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 4.348% 0;
  }
  a{
    color: black;
  }
}


.square{
  height: auto;
  aspect-ratio: 1/1;
  position: absolute;
  overflow: hidden;
  background-color: white;
  background-repeat: no-repeat;
  // background-size: 100%;
  // border: 1px solid black;
  padding: 2%;
  h2{
    font-size: 2.3vw;
    line-height: 1;
    word-break: break-word;
    font-weight: 300;
  }
  h2, p{
    margin: 0;
    -webkit-hyphens : auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
  p{
    font-size: 1vw;
    line-height: 1.1;
    word-break: break-word;
    margin-top: 5px;
  }
}

.square-12{
  width: calc(12%*4.348);
  height: calc(12%*4.348);
  top: 0;
  left: 0;
  background-size: calc(100% / (12%*4.348) * 100%);
  background-position: left 0 top 0;
}

.square-11{
  width: calc(11%*4.348);
  height: calc(11%*4.348);
  top: 0;
  left: calc(12%*4.348);
  background-size: calc(100% / (11%*4.348) * 100%);
  background-position: top 0 right 0;
}

.square-11-2{
  width: calc(11%*4.348);
  height: calc(11%*4.348);
  top:  calc(12%*4.348);
  background-size: calc(100% / (11%*4.348) * 100%);
  background-position: left 0 bottom 0;
  left: 0;
}

.square-7{
  width: calc(7%*4.348);
  height: calc(7%*4.348);
  left: calc(11%*4.348);
  bottom: 0;
  background-size: calc(100% / (7%*4.348) * 100%);
  background-position: right 31.2% bottom 0 ;
}

.square-5{
  width: calc(5%*4.348);;
  height: calc(5%*4.348);
  left: calc(14%*4.348);
  top: calc(11%*4.348);
  background-size: calc(100% / (5%*4.348) * 100%);
  background-position: right 22.2% top 61%;
}

.square-5-2{
  width: calc(5%*4.348);
  height: calc(5%*4.348);
  bottom: 0;
  right: 0;
  background-size: calc(100% / (5%*4.348) * 100%);
  background-position: right 0 bottom 0;
}

.square-4{
  width: calc(4%*4.348);
  height: calc(4%*4.348);
  right: 0;
  top: calc(11%*4.348);
  background-size: calc(100% / (4%*4.348) * 100%);
  background-position: right 0 top 58%;
}

.square-3{
  width: calc(3%*4.348);
  height: calc(3%*4.348);
  left: calc(11%*4.348);
  top: calc(13%*4.348);
  background-size: calc(100% / (3%*4.348) * 100%);
  background-position: left 55% bottom 35%;
}

.square-3-2{
  width: calc(3%*4.348);
  height: calc(3%*4.348);
  right: 0;
  bottom: calc(5%*4.348);
  background-size: calc(100% / (3%*4.348) * 100%);
  background-position: right 0 bottom 25%;
}

.square-2{
  width: calc(2%*4.348);
  height: calc(2%*4.348);
  left: calc(12%*4.348);
  top: calc(11%*4.348);
  padding: 0;
  background-size: calc(100% / (2%*4.348) * 100%);
  background-position: left 57.5% bottom 47.8%;
}

.square-2-2{
  width: calc(2%*4.348);
  height: calc(2%*4.348);
  right: calc(3%*4.348);
  bottom: calc(5%*4.348);
  padding: 0;
  background-size: calc(100% / (2%*4.348) * 100%);
  background-position: right 14.2% bottom 23.8%;
}


.square-1{
  width: calc(1%*4.348);
  height: calc(1%*4.348);
  top: calc(12%*4.348);
  left: calc(11%*4.348);
  padding: 0;
  background-size: calc(100% / (1%*4.348) * 100%);
  background-position: left 50% bottom 45.5%;
}

.square-1-2{
  width: calc(1%*4.348);
  height: calc(1%*4.348);
  top: calc(15%*4.348);
  right: calc(3%*4.348);
  padding: 0;
  background-size: calc(100% / (1%*4.348) * 100%);
  background-position: right 13.7% bottom 32%;
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  padding-top: 48px;
  font-family: space mono;
  background-color: white;
  div{
    width: 275px;
    max-width: 50%;
  }
  a{
    color: black;
  }
}

.landing{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  .vid{
    width: 15vw;
    height: 15vw;
    min-width: 120px;
    min-height: 120px;
    overflow: hidden;
    margin-left: -0.5vw;
  }
  video{
    width: 16vw;
    min-width: 130px;
    min-height: 130px;
  }
}

#list{
  opacity: 0;
  animation: fadeIn 1s ease 1;
  animation-fill-mode: forwards;
  transition: all 0.4s ease;
}


.item-wrapper{
  transition: opacity 1s ease, width 0.4s ease;
  transition-delay: 0s, 0.8s;
  opacity: 0;
  animation: fadeIn 1s 1;
  animation-fill-mode: forwards;
  .item{
    cursor: pointer;
  }
  .content{
    font-family: "Space Mono", monospace;
    max-height: 0;
    overflow-y: scroll;
    margin-top: -20px;
    transition: all 0.4s ease;
    p{
      font-size: 14px;
      line-height: 1.3;
    }
  }
  &.active .content{
    max-height: 50vh;
  }
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.hide-bg:nth-child(3n){
  opacity: 1;
  animation-fill-mode: forwards;
  animation: hideAni 5s ease 1;
}

// .home-grid .hide-bg:nth-child(3n){
//   opacity: 1;
//   animation-fill-mode: forwards;
//   animation: hideAni 5s ease 1;
// }

@keyframes hideAni {
  0% {opacity: 1;}
  20% {opacity: 0;}
  100% {opacity: 0;}
}

.main-grid.upcoming-grid{
  .item-wrapper{
    width: 23.8%;
    margin: 0 0.6%;
  }
}

.main-grid.archief-grid{
  .item-wrapper{
    width: 15.4%;
    margin: 0 0.6%;
  }
  .square{
    h2{
      font-size: 1.2vw;
      line-height: 1.1;
      word-break: break-word;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}

.archive-upcoming{
  h2.subtitle{
    margin-left: 0.6%;
    width: 98.8%;
    border-bottom: 2px solid black;
  }
}

.Collapsible{
  margin-top: 24px;
  span{
    font-size: 36px;
    padding-bottom: 14px;
    border-bottom: 2px solid black;
    width: 90%;
    display: block;
    margin-left: 10%;
    cursor: pointer;
  }
}


#logo{
  visibility: hidden;
  width: 102%;
  height: 102%;
  position: absolute;
  top: 4%;
  left: 0;
  padding: 2%;
  background-color: white;
  &.visible{
    visibility: visible;
  }
}


.content p{
  a{
    color: black;
  }
}

.bg-vid{
  width: 100%;
}

.material-symbols-outlined {
  font-size: 18px;
  list-style: 1;
  margin-left: 5px;
  margin-right: -5px;
}


.search-shop{
  margin-bottom: 10px;
  margin-top: 36px;
}

.sort-buttons{
  display: flex;
  margin: auto;
  max-width: 900px;
  justify-content: center;
  margin-bottom: 24px;
  .sort{
    padding: 5px;
    margin: 0 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.4s ease;
    font-family: 'space mono';
    font-size: 14px;
    font-weight: 500;
    &.active{
      opacity: 1;
      font-weight: 600;
      &.rotate{
        .material-symbols-outlined{
          transform: scale(1,-1);
        }
      }
    }
  }
}