.main-grid.shop-grid{
  .item-wrapper{
    width: 18.7%;
    margin: 0 0.6%;
  }
  .square{
    h2{
      font-size: 1.5vw;
      line-height: 1.1;
      word-break: break-word;
      font-weight: 300;
      text-transform: uppercase;
    }
    p{
      font-size: 0.9vw;
    }
  }
}

.order{
  margin-top: 24px;
  border: 1.5px solid black;
  width: fit-content;
  padding: 5px 20px;
  text-transform: uppercase;
  font-family: "Space Mono", monospace;
  transition: all 0.4s ease;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
  &:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
    transform: translate(3px, 3px);
  }
}

.page.shop-page{
  .left-info{
    width: 30%;
    position: fixed;
    transform: scale(0.5);
    animation: scale 1s ease 1;
    animation-fill-mode: forwards;
    // max-width: 600px;
  }
  .shop-info-text{
    img{
      width: 100%;
      height: auto;
      display: none;
    }
  }
  .square-12{
    // background-color: blue;
    padding-top: 24px;
    min-height: 50vh;
    height: fit-content;
    padding-bottom: 24px;
    width: 100%;
    max-width: 600px;
    position: absolute;
    left: auto;
    right: 1vw;
    padding-left: 1vw;
    z-index: 6;
    p{
      font-size: 22px;
      padding-bottom: 14px;
      border-bottom: 2px solid black;
    }
    h2{
      font-size: 48px;
      text-transform: uppercase;
    }
  }
  .content{
    margin-left: 30%;
    width: 70%;
    max-width: 70%;
    right: 0;
    transform: none;
    min-height: 100vh;
    img{
      width: 70%;
      max-width: 70%;
      display: block;
      margin: auto;
      margin-bottom: 24px;
    }
    .content.img-block{
      width: 100%;
      max-width: 100%;
      margin-left: auto;
      min-height: auto;
    }
  }
  .shop-info-text{
    padding-top: 14px;
    p{
      font-size: 18px;
      font-family: 'space mono';
      margin-top: 0;
      line-height: 1.2;
    }
    .shop-info{
      margin-top: 14px;
      p{
        font-size: 18px;
        font-family: 'space mono'space mono;
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 1px;
      }
    }
  }
}